/* Styling the body element
		like body color and margin */

		body {
			background-color: #9CAFAA;
			margin: 2.5%;
			padding:2.5%;
            font-size: 0.625%;
            color: #ffffff;
			
            
		}
		main{
			
			width: 90%;
		}
        #trib{
            width: 70%;
            margin: 10px auto;
            font-size: 0.7rem;
        }

		.header{ display: flex;
			
 			 align-items: center;
			 width: 100%;

		}
		/* Styling the Title and giving
		shadow to the title */
		#title {
			text-align: center;
			text-shadow: 2px 2px 3px black;
			font-size: 1.8rem;
			/* padding-top: 8%; */
			
		}

		/* Setting width and display
		type of image */
		#img-ctn { 
            text-align: center;
			display: inline-block;
			width: 40%;
            margin: auto;
		}
        #caption{
            text-align: left;
            display: inline-block;
            font-size: 17px;
			margin: 20% auto;
			font-family: Gill Sans;
			color: white;
			padding: 2%;
			text-shadow: 1px 1px 2px black;
        }
        #image{
            margin: auto;
            width: 100%;
            display: block;
            border-radius: 50%;
        }

		

		/* Styling the content of the page like-
		padding, font-size, font color etc.*/
		div#tribute-data {
			background-color:  #EFBC9B;
			box-shadow: 5px 5px 5px #FBF3D5;
			font-family: Georgia;
            border-radius: 10px;
			padding: 25px 25px;
			margin: 11px;
			margin-top: 50px;
            font-size: 1.2rem;
		}

		/* Styling the title of the content */
		h1.title-KSW {
			font-size: 35px;
			color: white;
			text-shadow: 2px 2px 3px black;
			text-align: center;
			
		}

		/* Styling the link provided at the end */
		#tribute-link {
	
			color: black;
            font-size: 1rem;
		}
		.lline{
			color: black;
            font-size: 1rem;
			
		}
		.b-pts{
			text-shadow: 1px 1px 3px black;
		}